

/* navbar */
@media screen and (max-width: 768px) {
    h1{
      font-size: 30px !important;
    }

    /* banner */
    .video{
      background-image: url(../images/banner/mobile/3.jpg) !important;
    }
    .blog-img{
      background-image: url(../images/banner/mobile/10.jpg) !important;
     }

     .cctv{
      background-image: url(../images/banner/mobile/2.jpg) !important;
     }
     .faq-img{
      background-image: url(../images/banner/mobile/9.jpg) !important;
     }
     .find-cctv{
      background-image: url(../images/banner/mobile/11.jpg) !important;
    }
    .recomended_provider h4{
      text-align: center;
    }
    .grid-01 .pro{
      padding: 0px 16px;
    }
    .banner-image h3{
      font-size: 15px !important;
    }

    .banner-image button {
      bottom: 20px;
      right: 34px;
      margin: 0;
      left: unset;
      bottom: 36px;
   }
   .banner-image .purple{
    padding: 4px 10px;
    font-size: 10px;
   }


  .table>:not(caption)>*>*{
    border: solid #a3a0a0 4px;
  }

  .banner-image .container{
    padding: 0px 18px;
    z-index: 2;
  }

  .banner-image img{
    z-index: 1;
  }
  .banner-image {
    height: 384px;
  }


    .footer-links li {
      padding: 2px 13px;
      display: inline-block;
      text-align: center !important;
      justify-content: center;
  }
  .footer-links span{
    display: inline;
    padding-left: 17px;
  }
  .footer-links hr{
    display: block;
    background: white;
  }

  .logos, .footer-links, .sub-footer ul{
    padding: 11px 0px;
    text-align: center;
  }
    .footer img {
      width: 23%;
     }
     .tm-c{
       font-size: 14px;
     }
    .nav-menu {
        background: #fff;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translatey(-100%);
        text-align: center;
      }
      .hamburger {
        display: inline-block;
      }
      .menu-active .nav-menu {
        transform: translatey(227px);
        opacity: 1;
      }

    .nav-menu .menu-item a {
        font-size: 16px;
        margin: 0;
        padding: 5px 0px;
        background: #fff;
    }

    .sub-nav {
      position: relative;
      width: 100%;
      display: none;
      background-color: rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
    }

    /*  */
    .padding-44 {
        padding: 44px 19px;
    }

    .recomended_provider{
      padding: 47px 13px;
    }
    .camera-icon{
      position: relative;
    }

    .padding-15 {
      padding: 15px 22px;
  }

  .padding-left{
    padding: 15px 29px !important;
  }
  .padding-0 {
    padding: 4px;
}
}
