

/* navbar */
@media screen and (max-width: 768px) {
    /* h1{
      font-size: 61px !important;
    } */
    .recomended_provider h4{
      text-align: center;
    }
    .banner-image button{
      bottom: 20px;
    }

    .footer img {
      width: 23%;
     }
     .tm-c{
       font-size: 14px;
     }
    .nav-menu {
        background: #fff;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translatey(-100%);
        text-align: center;
      }
      .hamburger {
        display: inline-block;
      }
      .menu-active .nav-menu {
        transform: translatey(227px);
        opacity: 1;
      }

    .nav-menu .menu-item a {
        font-size: 16px;
        margin: 0;
        padding: 5px 0px;
        background: #fff;
    }

    .sub-nav {
      position: relative;
      width: 100%;
      display: none;
      background-color: rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
    }

    /*  */
    .padding-44 {
        padding: 44px 19px;
    }

    .recomended_provider{
      padding: 47px 13px;
    }
    .camera-icon{
      position: relative;
    }

    .padding-15 {
      padding: 15px 22px;
  }

  .padding-left{
    padding: 15px 29px !important;
  }
  .padding-0 {
    padding: 4px;
}
}
